<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.knowwhere"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/blue_earth"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="app.knowwhere.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="app.knowwhere.LevelScreen"
            android:label="@string/title_level_screen"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.About"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Credit"
            android:label="@string/activity_credit"
            android:screenOrientation="portrait">
            
        </activity>
        <activity 
            android:name="app.knowwhere.How_to"
            android:label="@string/tutrl"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Level_easy_1"
            android:label="@string/level_easy_1"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Level_easy_2"
            android:label="@string/level_easy_2"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Level_easy_3"
            android:label="@string/level_easy_3"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Level_easy_4"
            android:label="@string/level_easy_4"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Level_med_1"
            android:label="@string/level_med_1"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Level_med_2"
            android:label="@string/level_med_2"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Level_med_3"
            android:label="@string/level_med_3"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Level_med_4"
            android:label="@string/level_med_4"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Level_exp_1"
            android:label="@string/level_exp_1"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Level_exp_2"
            android:label="@string/level_exp_2"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Level_exp_3"
            android:label="@string/level_exp_3"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Level_exp_4"
            android:label="@string/level_exp_4"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Level_exp_5"
            android:label="@string/level_exp_5"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Nti_1"
            android:label="@string/nti1l"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Nti_2"
            android:label="@string/nti2l"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Nti_3"
            android:label="@string/nti3l"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Nti_4"
            android:label="@string/nti4l"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Hmi_1"
            android:label="@string/hmi1l"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Hmi_2"
            android:label="@string/hmi2l"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Hmi_3"
            android:label="@string/hmi3l"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="app.knowwhere.Hmi_4"
            android:label="@string/hmi4l"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
